<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>

  </system.web>
  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"/>
      <!-- 1 day -->
    </staticContent>
    <rewrite>
      <rules>
        <!-- SSL (https://) & www redirect-->
        <rule name="Redirect non-www OR non-https to https://www">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^tffx.github.io/test1/$" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://tffx.github.io/test1/{R:0}" redirectType="Permanent"/>
        </rule>
        
        <!-- Redirect URLs with .aspx to / -->
        <rule name="index.html Redirect" stopProcessing="true">
            <match url="^(.*\/)*index\.html$" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_METHOD}" negate="true" pattern="^POST$" />
            </conditions>
            <action type="Redirect" url="{R:1}" redirectType="Permanent"/>
        </rule>
        
        <!-- Lowercase all URLs -->
        <rule name="Convert to lower case" stopProcessing="true">
          <match url=".*[A-Z].*" ignoreCase="false"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <!--NOT directory-->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <!--NOT file-->
            <add input="{REQUEST_METHOD}" matchType="Pattern" pattern="POST" negate="true"/>
            <!--NOT Form POST-->
          </conditions>
          <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent"/>
        </rule>
        <!-- Add a trailing slash to all URLs -->
        <rule name="AddTrailingSlashRule1" stopProcessing="true">
          <match url="(.*[^/])$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <!--NOT directory-->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <!--NOT file-->
            <add input="{REQUEST_METHOD}" matchType="Pattern" pattern="POST" negate="true"/>
            <!--NOT Form POST-->
          </conditions>
          <action type="Redirect" url="{R:1}/"/>
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>